html {
  // 62.5% <=> 10px
  font-size: 62.5%;
  line-height: 1.4;
  font-family: $font-family-base;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $primary-bg;

  &::-webkit-scrollbar {
    -webkit-appearance: none; // Luôn cho scrollbar xuất hiện
  }
  // CSS scrollbar dọc (Chrome)
  &::-webkit-scrollbar:vertical {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darken(
      rgba($color: $action-blue, $alpha: 0.8),
      15
    ); // darken => Làm tối màu chỉ định
    border-right: 5px rgba($color: $action-blue, $alpha: 0.8) solid;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

body.open-menu {
  overflow: hidden;
}

.container {
  width: 117rem;
  max-width: calc(100% - 3.2rem);
  margin: 0 auto;
}

.text-gradient {
  background: linear-gradient(#857fff, #ffc0ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mt-30 {
  margin-top: 3rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mt-70 {
  margin-top: 7rem;
}

.mt-150 {
  margin-top: 15rem;
}

.pt-100 {
  padding-top: 10rem;
}

.pb-100 {
  padding-bottom: 10rem;
}

.pt-40 {
  padding-top: 4rem;
}

.pb-40 {
  padding-bottom: 4rem;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.text-green {
  color: $action-green;
}

.text-blue {
  color: $action-blue;
}
