@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap");

$font-family-base: "DM sans", sans-serif;
$font-family-heading: "Outfit", sans-serif;

// color
$text-heading: #2d3958;
$text-text: #7b88a8;
$text-btn: #fff;
$primary-color-black: #120f1f;
$text-color-black: #000;
$black-200: #788190;
$action-blue: #4f77ff;
$action-green: #34c635;
$action-red: #ef3737;
$action-purple: #886cff;
$text-text-white: #fff;
$text-text-gray: #e7e5ea;

// height
$header-height: 4.8rem;

// breakpoint
$breakpoints: (
  // <=575px
  x-sm: 0em,

  // >= 576px
  sm: 36em,

  // >= 768px
  md: 48em,

  // >= 992px
  lg: 62em
);
