@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&family=Roboto:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active, a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: "DM sans", sans-serif;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f7f5f1;
}
body::-webkit-scrollbar {
  -webkit-appearance: none;
}
body::-webkit-scrollbar:vertical {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(3, 60, 255, 0.8);
  border-right: 5px rgba(79, 119, 255, 0.8) solid;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

body.open-menu {
  overflow: hidden;
}

.container {
  max-width: 117rem;
  width: calc(100% - 3.2rem);
  margin: 0 auto;
}

.text-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#857fff), to(#ffc0ec));
  background: linear-gradient(#857fff, #ffc0ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mt-70 {
  margin-top: 7rem;
}

.btn {
  border: none;
  padding: 1.3rem 2.4rem;
  font-size: 1.4rem;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  white-space: nowrap;
  letter-spacing: -0.3px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  will-change: all;
}
.btn:hover {
  opacity: 0.8;
}

.btn--play {
  padding: 0;
  color: #2d3958;
  background-color: transparent;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 2px;
}
.btn--play .play-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: 7px;
}

.btn--primary {
  background-color: #4f77ff;
  width: 12.9rem;
}

.btn--purple {
  background-color: #886cff;
}

.btn--md {
  padding: 1.8rem 3.2rem;
  width: 15.8rem;
}

.wrap-header {
  padding-top: 1.6rem;
  height: 50rem;
  position: relative;
  overflow: hidden;
}
.wrap-header .circle-bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
  width: 783.403px;
  height: 595.023px;
  border-radius: 783.403px;
  opacity: 0.400000006;
  background: linear-gradient(224deg, #61dcdf 0%, #886cff 100%);
  -webkit-filter: blur(100px);
          filter: blur(100px);
}
.wrap-header .circle-bottom-center {
  position: absolute;
  left: 50%;
  bottom: -40%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 500px;
  height: 500px;
  border-radius: 60%;
  background-color: #4f77ff;
  opacity: 0.3000000119;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}
.wrap-header .circle-right {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(70%) translateY(-40%);
          transform: translateX(70%) translateY(-40%);
  width: 761px;
  height: 743.782px;
  border-radius: 60%;
  background-color: #886cff;
  opacity: 0.3000000119;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

.breadcrumb {
  padding: 0 0;
  margin-bottom: 1rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.breadcrumb__item a {
  color: #2d3958;
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 500;
}
.breadcrumb__item.active {
  color: #7b88a8;
  text-transform: uppercase;
}
.breadcrumb .breadcrumb__item + .breadcrumb__item {
  padding-left: 0.5rem;
}
.breadcrumb .breadcrumb__item + .breadcrumb__item::before {
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.card {
  max-width: 37rem;
  height: 30rem;
  padding: 0 3.5rem;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(97, 119, 152, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  will-change: all;
}
.card:hover {
  -webkit-box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
          box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
}
.card__icon {
  margin-bottom: 2.2rem;
  width: 6rem;
  height: 6rem;
}
.card__icon img {
  width: 100%;
}
.card__title {
  margin-bottom: 4rem;
  color: #120f1f;
  text-align: center;
  /* Headline/Headline 3 */
  font-family: Outfit;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 3.2rem; /* 145.455% */
  letter-spacing: -1px;
}
.card__desc {
  color: #7b88a8;
  text-align: center;
  /* Paragraph/Paragraph 2 */
  font-weight: 400;
  line-height: 2.6rem; /* 162.5% */
}

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.header {
  height: 4.8rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header__logo {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  will-change: all;
}
.header__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header-right__search, .header-right__bag {
  margin-right: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  will-change: all;
}
.header-right__search:hover, .header-right__bag:hover {
  opacity: 0.6;
}
.header-right__bag {
  position: relative;
  margin-right: 3rem;
  cursor: pointer;
}
.header-right__bag::after {
  content: "";
  display: block;
  background-color: #ef3737;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(140%) translateY(0);
          transform: translateX(140%) translateY(0);
  width: 1rem;
  height: 1rem;
}
.header__menu-icon {
  display: none;
  cursor: pointer;
}
.header__menu-icon:hover {
  opacity: 0.6;
}
@media (max-width: 62em) {
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header__menu-icon {
    display: block;
    margin-left: 3rem;
  }
}

.nav {
  position: relative;
}
.nav .close-menu {
  display: none;
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  display: block;
  border: none;
  background-color: transparent;
  width: 6rem;
  cursor: pointer;
}
.nav .close-menu img {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  will-change: all;
}
.nav .close-menu:hover img {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}
.nav__link {
  display: inline-block;
  color: #7b88a8;
  font-weight: 500;
  line-height: 2.4rem;
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  letter-spacing: -0.3px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  will-change: all;
}
.nav__link:hover {
  color: #2d3958;
}
.nav__link + .nav__link {
  margin-left: 3rem;
}
.nav__link.active {
  color: #2d3958;
  position: relative;
}
.nav__link.active::after {
  content: "";
  display: block;
  background-color: #34c635;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
  width: 1rem;
  height: 1rem;
}
@media (max-width: 62em) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    background-color: #fff;
    z-index: 999;
    text-align: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav .close-menu {
    display: block;
  }
  .nav .close-menu img {
    display: block;
  }
  .nav__link {
    font-size: 2.8rem;
    margin: 3.6rem 0;
  }
  .nav__link.active::after {
    position: absolute;
    top: 50%;
    left: -50%;
    -webkit-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%);
  }
  .nav__link + .nav__link {
    margin-left: unset;
  }
}
@media (max-width: 48em) {
  .nav {
    left: 20%;
  }
}

.hero-child {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.hero-child__title {
  font-size: 4.8rem;
  font-family: "Outfit", sans-serif;
  line-height: 5.6rem;
  letter-spacing: -2px;
  font-weight: 500;
  text-align: center;
  color: #2d3958;
  margin-bottom: 2rem;
  text-transform: capitalize;
  white-space: nowrap;
}

#home {
  padding: 1.6rem 0;
  height: auto;
}
#home .hero {
  background: url("../images/hero_background.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 88.6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#home .hero__down {
  width: 8rem;
  height: 8rem;
  background-color: #f9c45c;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: absolute;
  top: 98%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-30%);
          transform: translateX(-50%) translateY(-30%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  will-change: all;
}
#home .hero__down:hover {
  background-color: #eca71c;
}
#home .hero-wrap {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 1.6rem;
}
@media (max-width: 48em) {
  #home .hero-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #home .hero-wrap .hero-start {
    margin-top: unset;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #home .hero-wrap .hero-end {
    display: none;
  }
}
#home .hero-start {
  width: calc(60% - 0.8rem);
  margin-top: 23rem;
}
#home .hero-start__heading {
  position: relative;
  display: inline-block;
  font-size: 7.2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  line-height: 7.8rem;
  letter-spacing: -2px;
  color: #2d3958;
  margin-bottom: 4rem;
}
#home .hero-start__heading:after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#home .hero-start__desc {
  font-size: 1.8rem;
  color: #7b88a8;
  margin-bottom: 7rem;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: -0.3px;
  line-height: 2.8rem;
}
#home .hero-start__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 1rem;
}
@media (max-width: 62em) {
  #home .hero-start {
    margin-top: 16rem;
  }
}
#home .hero-end {
  width: calc(40% - 0.8rem);
  margin-top: 9rem;
}
#home .hero-end img {
  -o-object-fit: cover;
     object-fit: cover;
}
#home .section-first {
  padding: 15rem 0 12rem;
  background-color: #fff;
  height: 10rem;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#home .section-first .section-first-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#home .section-first__title {
  color: #2d3958;
  font-family: "Outfit", sans-serif;
  font-size: 6.4rem;
  font-weight: 500;
  line-height: 7.2rem;
  letter-spacing: -2px;
  max-width: 97rem;
  margin-bottom: 3rem;
}
#home .section-first__desc {
  margin-bottom: 8rem;
  color: #7b88a8;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem; /* 155.556% */
  letter-spacing: -0.3px;
  max-width: 97rem;
}
#home .section-first__working {
  margin-top: 12rem;
  max-width: 79.3rem;
  color: #000;
  text-align: center;
  /* Headline/Headline 2 */
  font-family: "Outfit", sans-serif;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 4.6rem; /* 127.778% */
  letter-spacing: -1px;
}
@media (max-width: 36em) {
  #home .section-first__title {
    font-size: 3rem;
    line-height: 1.4;
    letter-spacing: 0.3px;
  }
  #home .section-first__desc {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  #home .section-first__working {
    font-size: 2.2rem;
    letter-spacing: 0.1px;
    line-height: 1.4;
  }
}
#home .section-first-brands {
  margin-top: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem 10.5rem;
}
#home .section-first-brands__item {
  text-align: center;
}
#home .section-first-brands__item img {
  width: 100%;
  cursor: pointer;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  will-change: all;
}
#home .section-first-brands__item img:hover {
  opacity: 0.7;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
@media (max-width: 48em) {
  #home .section-first-brands {
    gap: 3rem;
  }
}
@media (max-width: 36em) {
  #home .section-first-brands {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}