.nav {
  &__link {
    display: inline-block;
    color: $text-text;
    font-weight: 500;
    line-height: 2.4rem;
    text-transform: uppercase;
    font-family: $font-family-heading;
    letter-spacing: -0.3px;

    @include transition();

    &:hover {
      color: $text-heading;
    }
  }

  &__link + .nav__link {
    margin-left: 3rem;
  }

  &__link.active {
    color: $text-heading;
    position: relative;

    &::after {
      content: "";
      display: block;
      background-color: $action-green;
      border-radius: 50%;

      @include abs(50%, -50%, -50%, 0);
      @include size();
    }
  }

  @media (max-width: map-get($breakpoints, lg)) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 3.2rem;
    background-color: #fff;
    z-index: 999;
    text-align: center;

    @include flex(center, center, wrap, column);
    gap: 3rem;
    &__link {
      display: block;
    }

    &__link + .nav__link {
      margin-left: unset;
    }
  }
}
