#about {
  .about-content {
    padding: 12rem 0;
  }

  .about-heading {
    color: $text-heading;
    text-align: center;
    font-family: $font-family-heading;
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 5.6rem; /* 116.667% */
    letter-spacing: -2px;
    margin-bottom: 10rem;
  }

  .about-post-list {
    padding-bottom: 12rem;
    @include flex(flex-start, start, nowrap, column);
    gap: 10rem 0;
  }

  .about-post-item {
    @include flex(space-between, center, nowrap, row);
    gap: 0 13rem;

    .about-post-content {
      width: 40%;
    }

    .about-post-title {
      color: $text-heading;
      /* Headline/Headline 2 */
      font-family: $font-family-heading;
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 4.6rem; /* 127.778% */
      letter-spacing: -1px;
      margin-bottom: 5rem;
    }

    .about-post-desc {
      color: $black-200;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.8rem; /* 155.556% */
      letter-spacing: -0.3px;
      margin-bottom: 7rem;
    }

    .about-post-img {
      width: 60%;

      img {
        width: 57rem;
        height: 57rem;
        max-width: 100%;
      }
    }

    &.about-post-item--reverse {
      flex-direction: row-reverse;
    }
  }

  .about-fact {
    position: relative;
    height: 40rem;

    .about-fact-bg {
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .about-fact-list {
    @include abs();
    @include flex(center, center, nowrap, row);
    gap: 3rem;
    text-align: center;

    .about-fact-item {
      width: 37rem;
    }

    .about-fact-number {
      color: $action-purple;
      font-family: $font-family-heading;
      font-size: 6.4rem;
      font-weight: 500;
      line-height: 7.2rem; /* 112.5% */
      letter-spacing: -2px;
      margin-bottom: 2rem;
    }

    .about-fact-sub {
      color: $text-text-white;
      /* Headline/Headline 3 */
      font-family: $font-family-heading;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 3.2rem; /* 145.455% */
      letter-spacing: -1px;
      margin-bottom: 4rem;
      display: block;
    }

    .about-fact-desc {
      color: $text-text;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.8rem; /* 155.556% */
      letter-spacing: -0.3px;
    }
  }
}
