#blog {
  .main {
    padding: 10rem 0;
    background-color: #fff;
  }

  .main-wrap {
    @include flex(flex-start, start, nowrap, row);
    gap: 6.5rem;
  }

  .blog-content {
    width: calc(70% - 3.25rem);
    @include flex(flex-start, start, nowrap, column);
    gap: 5rem;
  }

  .post {
    border-radius: 5px;
    border: 1px solid #e7e5ea;
    background: $white-bg;

    &__img {
    }
  }

  .blog-sidebar {
    width: calc(30% - 3.25rem);

    @include flex(flex-start, start, nowrap, column);
    gap: 3rem;

    &-item {
      background-color: #f8fafc;
      border-radius: 5px;
      padding: 2rem 3rem 3rem;
      width: 100%;
    }

    &-item__header {
      color: $text-heading;
      /* Headline/Headline 4 */
      font-family: $font-family-heading;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.8rem; /* 155.556% */
      letter-spacing: 0.4px;
      margin-bottom: 2.8rem;
    }
  }

  .blog-sidebar-item__search {
    label {
      background-color: #fff;
      display: block;
      height: 4.8rem;
      border-radius: 5px;
      border: 1px solid #e7e5ea;

      @include flex(space-between);

      input {
        padding: 1.1rem 0 1.1rem 1.8rem;
        flex: 1;
        border: none;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $text-text;
          font-family: $font-family-base;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2.6rem; /* 162.5% */
        }
      }

      img {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 1.5rem;

        cursor: pointer;
      }
    }
  }

  .blog-sidebar-item-news__item {
    @include flex(flex-start, center, nowrap, row);
    gap: 2rem;
    margin-bottom: 2rem;

    div {
      width: 5rem;
      height: 5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    p {
      flex: 1;
      color: $text-text;
      /* Paragraph/Paragraph 3 */
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.4rem; /* 171.429% */
      letter-spacing: -0.3px;
    }
  }

  .blog-sidebar-item__select {
    width: 100%;
    height: 4.8rem;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #e7e5ea;
    overflow: hidden;

    label {
      position: relative;
      height: 100%;

      @include flex(space-between);

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.5rem;
        z-index: 2;
      }
    }

    select {
      flex: 1;
      height: 100%;
      padding: 0 1.8rem;
      border: none;
      position: relative;
      z-index: 2;

      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;

      color: $text-text;
      /* Paragraph/Paragraph 2 */
      font-family: $font-family-base;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.6rem; /* 162.5% */
    }

    option {
      font-size: 1.6rem;
    }
  }

  .blog-sidebar-item__tags {
    @include flex();
    gap: 5px 5px;

    a {
      background-color: $action-blue;
      padding: 0 5px;
      border-radius: 5px;
      color: $text-text-white;
      font-family: $font-family-base;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2.4rem; /* 200% */
      letter-spacing: -0.3px;

      @include transition();

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .blog-sidebar-subscribe {
    width: 100%;
    position: relative;
  }

  .blog-sidebar-subscribe__bg {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .blog-sidebar-subscribe__content {
    @include abs();
    text-align: center;

    h4 {
      color: $text-text-white;

      /* Headline/Headline 3 */
      font-family: $font-family-heading;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem; /* 145.455% */
      letter-spacing: -1px;

      margin-bottom: 4rem;
    }
  }
}
