#blog {
  .main {
    padding: 10rem 0 0;
    background-color: #fff;
  }

  .main-wrap {
    @include flex(flex-start, start, nowrap, row);
    gap: 6.5rem;

    padding-bottom: 10rem;

    @media (max-width: map-get($breakpoints, md)) {
      flex-direction: column;

      .blog-content {
        width: 100%;
      }
    }
  }

  .blog-content {
    width: calc(70% - 3.25rem);
    @include flex(flex-start, start, nowrap, column);
    gap: 5rem;

    &-pagination {
      @include flex(center);
      width: 100%;
      gap: 6px;

      &__page {
        width: 5rem;
        height: 5rem;

        color: $text-text;
        /* Link Small */
        font-family: $font-family-heading;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2.4rem; /* 171.429% */
        letter-spacing: -0.3px;
        text-transform: uppercase;
        border-radius: 5px;

        @include flex(center, center);
      }

      &__page.active {
        color: $text-text-white;
        background-color: $action-blue;
      }
    }
  }

  .post {
    border-radius: 5px;
    border: 1px solid #e7e5ea;
    background: $white-bg;
  }

  .blog-sidebar {
    width: calc(30% - 3.25rem);

    @include flex(flex-start, start, nowrap, column);
    gap: 3rem;

    &-item {
      background-color: #f8fafc;
      border-radius: 5px;
      padding: 2rem 3rem 3rem;
      width: 100%;
    }

    &-item__header {
      color: $text-heading;
      /* Headline/Headline 4 */
      font-family: $font-family-heading;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.8rem; /* 155.556% */
      letter-spacing: 0.4px;
      margin-bottom: 2.8rem;
    }

    @media (max-width: map-get($breakpoints, md)) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  .blog-sidebar-item__search {
    label {
      background-color: #fff;
      display: block;
      height: 4.8rem;
      border-radius: 5px;
      border: 1px solid #e7e5ea;
      width: 100%;
      position: relative;

      @include flex(space-between, center, nowrap, row);

      input {
        padding: 1.1rem 0 1.1rem 1.8rem;
        flex: 1;

        border: none;
        background-color: transparent;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $text-text;
          font-family: $font-family-base;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2.6rem; /* 162.5% */
        }
      }

      img {
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 1.5rem;

        cursor: pointer;

        @include abs(calc(100% - 3rem), 0);
      }
    }
  }

  .blog-sidebar-item-news__item {
    @include flex(flex-start, center, nowrap, row);
    gap: 2rem;
    margin-bottom: 2rem;

    div {
      width: 5rem;
      height: 5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    p {
      flex: 1;
      color: $text-text;
      /* Paragraph/Paragraph 3 */
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2.4rem; /* 171.429% */
      letter-spacing: -0.3px;
    }
  }

  .blog-sidebar-item__select {
    width: 100%;
    height: 4.8rem;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #e7e5ea;
    overflow: hidden;

    label {
      position: relative;
      height: 100%;

      @include flex(space-between);

      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1.5rem;
        z-index: 2;
      }
    }

    select {
      flex: 1;
      height: 100%;
      padding: 0 1.8rem;
      border: none;
      position: relative;
      z-index: 2;

      -moz-appearance: none; /* Firefox */
      -webkit-appearance: none; /* Safari and Chrome */
      appearance: none;

      color: $text-text;
      /* Paragraph/Paragraph 2 */
      font-family: $font-family-base;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 2.6rem; /* 162.5% */
    }

    option {
      font-size: 1.6rem;
    }
  }

  .blog-sidebar-item__tags {
    @include flex();
    gap: 5px 5px;

    a {
      background-color: $action-blue;
      padding: 0 5px;
      border-radius: 5px;
      color: $text-text-white;
      font-family: $font-family-base;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2.4rem; /* 200% */
      letter-spacing: -0.3px;

      @include transition();

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .blog-sidebar-subscribe {
    width: 100%;
    position: relative;
  }

  .blog-sidebar-subscribe__bg {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .blog-sidebar-subscribe__content {
    @include abs();
    text-align: center;

    h4 {
      color: $text-text-white;

      /* Headline/Headline 3 */
      font-family: $font-family-heading;
      font-size: 2.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 3.2rem; /* 145.455% */
      letter-spacing: -1px;

      margin-bottom: 4rem;
    }

    @media (max-width: map-get($breakpoints, md)) {
      h4 {
        font-size: 2.8rem;
      }
    }
  }

  .blog-subscribe {
    position: relative;
    height: 50rem;

    &__img {
      height: inherit;

      img {
        height: inherit;
      }
    }
  }

  .blog-subscribe-content {
    @include abs();
    text-align: center;
    width: 87rem;
    max-width: calc(100% - 3.2rem);
    padding: 10.7rem 0;

    &__desc {
      color: $text-text;
      /* Headline/Headline 3 */
      font-family: $font-family-heading;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 3.2rem; /* 145.455% */
      letter-spacing: -1px;
      margin-bottom: 3rem;
    }

    &__heading {
      color: $text-heading;

      /* Display/Display 3 */
      font-family: $font-family-heading;
      font-size: 4.8rem;
      font-weight: 500;
      line-height: 5.6rem; /* 116.667% */
      letter-spacing: -2px;
      margin-bottom: 7rem;
    }

    @media (max-width: map-get($breakpoints, md)) {
      &__heading {
        font-size: 3.2rem;
        line-height: 1.5;
      }
    }
  }

  .blog-related-articles {
    @include flex(flex-start, start, nowrap, column);
    background-color: #f8fafc;
    border-radius: 5px;
    width: 100%;
    padding: 2rem 4rem 5rem 4rem;

    &__heading {
      color: $text-heading;
      /* Headline/Headline 4 */
      font-family: $font-family-heading;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.8rem; /* 155.556% */
      letter-spacing: 0.4px;
      margin-bottom: 3rem;
    }

    &-posts {
      @include flex(center, center, nowrap, row);
      gap: 3.2rem;

      &-item {
        width: calc(100% / 3);

        &__img {
          width: 100%;

          img {
            width: inherit;
          }
        }

        &__name {
          color: $text-heading;
          /* Paragraph/Paragraph 1 */
          font-family: $font-family-base;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 2.8rem; /* 155.556% */
          letter-spacing: -0.3px;
          margin-top: 2rem;
        }
      }
    }
  }

  .blog-comments {
    margin-top: 4.8rem;
    padding: 4.2rem 3rem 5rem 3rem;
    border: 1px solid var(--lines-hr-line, rgba(97, 119, 152, 0.2));
    background: $white-bg;
    width: 100%;

    svg.seperate {
      width: 100%;
    }

    &__heading {
      color: $text-heading;
      /* Headline/Headline 4 */
      font-family: $font-family-heading;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.8rem; /* 155.556% */
      letter-spacing: 0.4px;
      // margin-bottom: 3rem;
    }

    &-body {
      margin-top: 2rem;

      &-item {
        @include flex(flex-start, start, nowrap, row);
        gap: 3rem;
        margin-top: 2rem;

        &.blog-comments-body-item--reply {
          padding-left: 18rem;
          margin-top: 3rem;
        }
      }

      &-item-content-header {
        @include flex(space-between);
        margin-bottom: 2.4rem;
      }

      &-item-content-header__name {
        color: $text-heading;
        /* Paragraph/Paragraph 2 */
        font-weight: 400;
        line-height: 2.6rem; /* 162.5% */
      }

      &-item-content-header__date {
        color: $text-text;
        /* Headline/Headline 6 */
        font-family: $font-family-heading;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2.4rem; /* 171.429% */
        letter-spacing: 0.4px;
        opacity: 0.699999988079071;
      }

      &-item-content__text {
        color: $text-text;
        /* Paragraph/Paragraph 2 */
        font-weight: 400;
        line-height: 2.6rem; /* 162.5% */
      }

      &__reply {
        @include flex();
        gap: 2px;
        margin-top: 4rem;

        color: $action-blue;

        /* Link Small */
        font-family: $font-family-heading;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2.4rem; /* 171.429% */
        letter-spacing: -0.3px;
        text-transform: uppercase;

        img {
          width: 13.437px;
          height: 14px;
          flex-shrink: 0;
        }
      }
    }

    &-form {
      padding: 4rem 0rem 0 0rem;

      &__heading {
        color: $text-heading;
        /* Headline/Headline 4 */
        font-family: $font-family-heading;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.8rem; /* 155.556% */
        letter-spacing: 0.4px;
        margin-bottom: 3rem;
      }

      &__group {
        @include flex(flex-start, center, nowrap, row);
        gap: 2rem;
        margin-bottom: 2rem;
      }

      &__control {
        width: 100%;
        padding: 1.1rem 1.8rem;
        border-radius: 5px;
        border: 1px solid #e7e5ea;
        background: $white-bg;

        color: $text-text;

        /* Paragraph/Paragraph 2 */
        font-family: $font-family-base;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.6rem; /* 162.5% */

        &.blog-comments-form__group--w-30 {
          width: calc(100% / 3);
        }
      }

      textarea.blog-comments-form__control {
        resize: none;
      }
    }
  }
}
