#home {
  background-color: #f7f5f1;
  padding: 1.6rem 0;
  height: fit-content;

  .hero {
    background: url("../images/hero_background.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 100vh;
  }

  $gap: 1.6rem;
  .hero-wrap {
    @include flex(space-between, center, nowrap, row);
    gap: $gap;
  }

  .hero-start {
    width: calc(60% - ($gap / 2));

    &__heading {
      position: relative;
      display: inline-block;
      font-size: 7.2rem;
      font-family: $font-family-heading;
      font-weight: 500;
      line-height: 7.8rem;
      letter-spacing: -2px;
      color: $text-heading;
      margin-bottom: 4rem;

      &:after {
        content: attr(data-content);
        position: absolute;
        top: 0;
        left: 0;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
      }
    }

    &__desc {
      font-size: 1.8rem;
      color: $text-text;
      margin-bottom: 7rem;
      text-shadow: 2px 2px 3px rgba(0 0 0 / 0.2);
      letter-spacing: -0.3px;
      line-height: 2.8rem;
    }

    &__btn-group {
      @include flex(flex-start, center, nowrap, row);
      gap: 1rem;
    }
  }

  .hero-end {
    width: calc(40% - ($gap / 2));

    img {
      object-fit: cover;
    }
  }
}
