#service {
  .service {
    padding: 12rem 0;
  }
  .service-wrap {
    .service-heading {
      color: $text-heading;
      text-align: center;
      margin: 0 auto 3rem;
      width: 87rem;
      max-width: 100%;
      /* Display/Display 3 */
      font-family: $font-family-heading;
      font-size: 48px;
      font-weight: 500;
      line-height: 56px; /* 116.667% */
      letter-spacing: -2px;
    }

    .service-desc {
      color: $text-text;
      text-align: center;
      margin: 0 auto 10rem;
      width: 87rem;
      max-width: 100%;
      /* Paragraph/Paragraph 1 */
      font-size: 18px;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
      letter-spacing: -0.3px;
    }
  }

  .service-first {
    @include flex(flex-start, center, nowrap, row);
    margin-bottom: 10rem;

    .service-first-card {
      @include flex(flex-start, flex-start, nowrap, row);
      gap: 3rem;

      width: 60%;
      // height: 66rem;
      margin-top: 0;
    }

    @media (max-width: map-get($breakpoints, lg)) {
      flex-direction: column;
      gap: 4rem;

      .service-first-card {
        width: 100%;
        justify-content: center;
      }

      .service-first-content {
        width: 100%;
      }
    }

    @media (max-width: map-get($breakpoints, sm)) {
      .service-first-card {
        flex-direction: column;
        align-items: center;
      }

      .service-card-group {
        margin-top: 0;
      }
    }
  }

  .service-card-group {
    @include flex(flex-end, flex-end, nowrap, column);
    gap: 3rem;
  }

  .service-card {
    width: 27rem;
    height: 27rem;
    max-width: 100%;
    text-align: center;
    border-radius: 20px;
    border: 1px solid var(--lines-hr-line, rgba(97, 119, 152, 0.2));
    background: $white-bg;
    cursor: pointer;

    @include transition();
    @include flex(center, center, nowrap, column);

    &:hover {
      /* Blue Shadow */
      box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
    }

    .service-card-icon {
      width: 5rem;
      height: 5rem;
      margin-bottom: 2.7rem;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .service-card-title {
      color: $primary-color-black;
      /* Headline/Headline 3 */
      font-family: $font-family-heading;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 3.2rem; /* 145.455% */
      letter-spacing: -1px;
      margin-bottom: 2rem;
    }

    .service-card-desc {
      color: $text-text;
      font-weight: 400;
      line-height: 2.6rem; /* 162.5% */
    }
  }

  .service-first-content {
    width: 40%;

    .service-first-heading {
      color: $text-heading;

      font-family: $font-family-heading;
      font-size: 36px;
      font-weight: 500;
      line-height: 46px; /* 127.778% */
      letter-spacing: -1px;
      margin-bottom: 3rem;
    }

    .service-first-desc {
      color: $black-200;
      /* Paragraph/Paragraph 1 */
      font-size: 18px;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
      letter-spacing: -0.3px;
    }
  }

  .service-cta-img {
    width: 130rem;
    max-width: 100%;
    margin: 0 auto;
    position: relative;

    & > img {
      width: 100%;
      height: 44rem;
      object-fit: cover;
    }
  }

  .service-cta-content {
    width: 50rem;
    max-width: calc(100% - 3.2rem);
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-35%);

    @media (max-width: map-get($breakpoints, sm)) {
      left: 1.6rem;
    }
  }

  .service-cta-heading {
    color: $text-heading;
    /* Headline/Headline 1 */
    font-family: $font-family-heading;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 50px; /* 119.048% */
    letter-spacing: -0.84px;
    margin-bottom: 3rem;
  }

  .service-cta-desc {
    color: $text-text;
    /* Paragraph/Paragraph 1 */
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.3px;
    margin-bottom: 5rem;
  }

  .service-items {
    padding: 10rem 0;
  }

  .service-item-wrap {
    @include flex(center);
    gap: 3rem;
  }

  .service-item {
    width: 37rem;
    border-radius: 20px;
    border: 1px solid var(--lines-gray-line, #e7e5ea);
    background: var(--color-5, #fff);
    padding: 3rem;

    @include flex(flex-start, flex-start, nowrap, row);
    gap: 2rem;
  }

  .service-item-icon {
    width: 5rem;
    height: 5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .service-item-title {
    color: $primary-color-black;
    /* Headline/Headline 3 */
    font-family: $font-family-heading;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px; /* 145.455% */
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
  }

  .service-item-desc {
    color: $text-text;
    /* Paragraph/Paragraph 3 */
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.3px;
  }

  .service-pricing {
    background: linear-gradient(180deg, #f8fafc 50%, #fff 50%);
    padding: 12rem 0;
  }

  .service-pricing-wrap {
    @include flex(center, center, wrap, column);
  }

  .service-pricing-heading {
    color: $text-heading;
    text-align: center;
    /* Display/Display 3 */
    font-family: $font-family-heading;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px; /* 116.667% */
    letter-spacing: -2px;
    margin-bottom: 3rem;
  }

  .service-pricing-desc {
    color: $text-text;
    text-align: center;
    font-family: $font-family-heading;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px; /* 145.455% */
    letter-spacing: -1px;
    margin-bottom: 10rem;
  }

  .service-tag {
    color: $text-text;
    /* Paragraph/Paragraph 1 */
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.3px;
    margin-bottom: 10rem;

    @include flex(center, center);
    gap: 2rem;

    span {
      display: block;
    }
  }

  .service-tag-label {
    width: 72px;
    height: 33px;
    display: inline-block;
    border-radius: 2rem;
    background-color: #e7e5ea;
    position: relative;
    font-size: 0;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translate(0, -50%);

      width: 2.1rem;
      height: 2.1rem;
      background-color: $action-green;
      border-radius: 50%;
      @include transition();
    }
  }

  .service-tag-checkbox {
    visibility: hidden;
    width: 0;

    &:checked ~ .service-tag-label::after {
      transform: translate(210%, -50%);
      left: auto;
      background-color: #fff;
    }

    &:checked ~ .service-tag-label {
      background-color: $action-green;
    }
  }

  .service-tag-save {
    background-color: $action-green;
    color: #fff;
    padding: 4px 12px;
    color: #fff;

    /* Paragraph/Paragraph 3 */
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.3px;
    border-radius: 5px;
  }

  .service-tables-group {
    @include flex();
    gap: 3rem;

    .service-tables {
      width: calc(50% - 1.5rem);
      background-color: $white-bg;
      border-radius: 10px;
      border: 1px solid var(--lines-gray-line, #e7e5ea);
      padding-top: 3.5rem;
    }

    .service-tables-starter {
      color: $action-blue;
      text-align: center;
      /* Headline/Headline 4 */
      font-family: $font-family-heading;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 28px; /* 155.556% */
      letter-spacing: 0.4px;
      display: block;
      margin-bottom: 2rem;
    }

    .service-tables-price {
      color: $text-heading;
      text-align: center;
      /* Headline/Headline 2 */
      font-family: $font-family-heading;
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 46px; /* 127.778% */
      letter-spacing: -1px;
      display: block;
      margin-bottom: 1rem;
    }

    .service-tables-per-user {
      color: #696871;
      text-align: center;
      /* Paragraph/Paragraph 2 */
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      padding: 0 14rem;
    }

    .service-tables-list {
      margin-top: 4rem;
      @include flex(center, flex-start, nowrap, column);
      gap: 1.5rem;

      padding: 0 12.3rem;
    }

    .service-tables-item {
      @include flex(flex-start, center, nowrap);
      gap: 1.3rem;

      img {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
      }
    }

    .service-tables-item span {
      color: $text-heading;

      /* Headline/Headline 3 */
      font-family: $font-family-heading;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 32px; /* 145.455% */
      letter-spacing: -1px;
      display: block;
    }

    .service-tables-btn {
      border: none;
      background-color: $action-blue;
      margin-top: 6rem;
      display: block;
      width: 100%;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding: 2rem 0;

      color: $text-text-white;

      /* Link */
      font-family: $font-family-heading;
      font-size: 15px;
      font-weight: 500;
      line-height: 24px; /* 160% */
      letter-spacing: -0.3px;
      text-transform: uppercase;
      cursor: pointer;

      @include transition;

      &:hover {
        opacity: 0.8;
      }
    }

    @media (max-width: map-get($breakpoints, lg)) {
      flex-direction: column;
      max-width: 100%;

      .service-tables {
        width: 57rem;
        max-width: 100%;
      }
    }

    @media (max-width: map-get($breakpoints, sm)) {
      .service-tables-per-user {
        padding: 0 1.6rem;
      }

      .service-tables-list {
        padding: 0 1.6rem;
      }
    }
  }

  .service-logo {
    margin-top: 12rem;
    max-width: 100%;

    &-wrap {
      width: 91.5rem;
      max-width: 100%;
    }

    &-heading {
      color: $text-color-black;
      text-align: center;
      /* Headline/Headline 2 */
      font-family: $font-family-heading;
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 46px; /* 127.778% */
      letter-spacing: -1px;
    }

    .service-logo-brands {
      margin-top: 8rem;

      @include flex(center, center, wrap, row);
      gap: 4rem 4rem;
    }

    @media (max-width: map-get($breakpoints, sm)) {
      .service-logo-brands {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
